.v-card-text p:first-child {
    padding-bottom: 10px;
    font-size: medium;
}

.footer-card {
    transition: transform 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.footer-card:hover {
    border-color: #2196F3;
}
